@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;

}
:root{
    --primary-color: #F5C518;
    --secondary-color: #121212;
}

body{
    background: black;
    /* background-color: rgb(3,37,65); */
}